@page "/administration/users/add"
@using Prodex.Client.RestClients;
@using Prodex.Shared.Models.Users;
@using System.Net;
@inject NavigationManager Navigation
@inject UsersClient Processes

<Card>
    <CardHeader>
        Dodaj Pracownika
    </CardHeader>
    <CardBody>
        <FormWrapper Form="Form">
            <FormInput Property="p => p.GivenName" />
            <FormInput Property="p => p.Surname" />
            <FormInput Property="p => p.Username" />
            <FormInput Property="p => p.Password" Role="TextRole.Password" />
        </FormWrapper>
    </CardBody>
    <CardFooter>
        <Button Color="Color.Primary" @onclick="Save">Zapisz</Button>
    </CardFooter>
</Card>

@code {
    private FormModel Form = new FormModel();

    private async Task Save()
    {
        var result = await Processes.Post(Form);

        if (result.IsSuccessStatusCode)
        {
            Navigation.NavigateTo("users");
        }
    }
}
