@using Prodex.Client.RestClients;
@using Prodex.Shared.Models.Sitemap;
@inject AuthClient Auth

<Bar Breakpoint="Breakpoint.Desktop" NavigationBreakpoint="Breakpoint.Tablet" ThemeContrast="ThemeContrast.Dark"
     Mode="BarMode.VerticalInline" CollapseMode="BarCollapseMode.Small">
    <BarToggler />
    <BarBrand>
        <BarItem>
            <BarLink To="">Prodex</BarLink>
        </BarItem>
    </BarBrand>
        <BarMenu>
        <BarStart>
            @if(Loading)
            {
                <p>Loading...</p>
            }
            else
            @foreach(var node in Sitemap.Nodes)
            {
                <BarItem>
                    <BarLink To="@node.Route">
                        <BarIcon IconName="@node.Icon" />
                        @node.Name
                    </BarLink>
                </BarItem>
            }
        </BarStart>
    </BarMenu>
</Bar>

@code{
    public SitemapModel Sitemap;
    public bool Loading = false;

    protected override async Task OnInitializedAsync()
    {
        Loading = true;
        Sitemap = await Auth.Sitemap();
        Loading = false;
    }
}
