@page "/administration/product-template"
@using Microsoft.AspNetCore.Authorization;
@using Prodex.Client.Coponents
@using Prodex.Client.RestClients;
@using Prodex.Shared.Models.ProductTemplates;
@using Prodex.Shared.Pagination;
@inject ProductTemplatesClient ProductTemplates
@inject NavigationManager Navigation

<Card>
    <CardHeader>
        <Button Type="ButtonType.Link" To="administration/product-template/form" Color="Color.Primary">Dodaj</Button>
    </CardHeader>
    <CardBody>
        <DataGrid TItem="ListItemModel" Data="@items" ReadData="LoadData" SelectedRowChanged="RowSelected" Responsive>
            <DataGridColumn Field="@nameof(ListItemModel.Name)" Caption="Nazwa" Editable />
        </DataGrid>
    </CardBody>
    <CardFooter>
        <SimplePagination Pager="pager" LoadData="LoadData" />
    </CardFooter>
</Card>

@code {
    private List<ListItemModel> items = new List<ListItemModel>();
    private Pager pager = new Pager(1, 10);

    protected override async Task OnInitializedAsync()
    {
        await LoadData();
    }

    private async Task LoadData()
    {
        try
        {
            var result = await ProductTemplates.Get(pager, new FilterModel());
            items = result.Items.ToList();
            pager.TotalRows = result.TotalRows;
        }
        catch (HttpRequestException)
        {
            // todo: find nice way to handle exceptions like that
        }
    }

    private void RowSelected(ListItemModel item)
    {
        Navigation.NavigateTo($"administration/product-template/form/{item.Id}");
    }
}