@page "/product/add"
@using Prodex.Client.Coponents
@using Prodex.Client.Coponents.Form
@using Prodex.Client.RestClients;
@using Prodex.Shared.Models.Products;
@using System.Net;
@using Prodex.Shared.Pagination;
@using Prodex.Shared.Utils;
@inject NavigationManager Navigation
@inject ProductsClient Products



<Card>
    <CardBody>
        <FormWrapper Form="Form">
            <FormInput Property="p => p.Name" />
            <FormSelect Property="p => p.TemplateId" />
        </FormWrapper>
    </CardBody>
    <CardFooter>
        <Button Color="Color.Primary" @onclick="Save">Zapisz</Button>
    </CardFooter>
</Card>


@code {
    private FormModel Form = new FormModel();

    private BpmnModeler modeler;

    private async Task Save()
    {
        var result = await Products.Post(Form);

        if (result.IsSuccessStatusCode)
        {
            Navigation.NavigateTo("product");
        }
    }
}
