@page "/process-add"
@using Prodex.Client.Coponents
@using Prodex.Client.RestClients;
@using Prodex.Shared.Models.Processes;
@using System.Net;
@inject NavigationManager Navigation
@inject ProcessesClient Processes


<h3>ProcessesAdd</h3>

@if (Form.HasErrors)
{
    @foreach(var error in Form.Errors)
    {
        <p>@error.Name: @error.Message</p>
    }
}


<label for="name">Nazwa</label><br />
<input id="name" type="text" @bind="Form.Name"/>

<BpmnModeler @ref="modeler"></BpmnModeler>

<button class="btn-primary mt-3" @onclick="Save">Zapisz</button>

@code {
    private FormModel Form = new FormModel();

    private BpmnModeler modeler;

    private async Task Save()
    {
        Form.Xml = await modeler.GetValueAsync();

        var result = await Processes.Post(Form);

        if (result.IsSuccessStatusCode)
        {
            Navigation.NavigateTo("processes");
        }
    }
}
