@page "/processes"
@using Microsoft.AspNetCore.Authorization;
@using Prodex.Client.Coponents
@using Prodex.Client.RestClients;
@using Prodex.Shared.Models.Processes;
@using Prodex.Shared.Pagination;
@inject ProcessesClient Processes
@inject NavigationManager Navigation

<Card>
    <CardHeader>
        <Button @onclick="() => Add()" Color="Color.Primary">Dodaj</Button>
    </CardHeader>
    <CardBody>
        <DataGrid TItem="ListItemModel" Data="@items" ReadData="LoadData" Responsive>
            <DataGridColumn Field="@nameof(ListItemModel.Id)" Caption="#" Sortable="false" />
            <DataGridColumn Field="@nameof(ListItemModel.Name)" Caption="Nazwa" Editable />
            <DataGridColumn Field="@nameof(ListItemModel.Xml)" Caption="Xml" Editable />
        </DataGrid>
    </CardBody>
    <CardFooter>
        <SimplePagination Pager="pager" LoadData="LoadData" />
    </CardFooter>
</Card>

@code {
    private List<ListItemModel> items = new List<ListItemModel>();
    private Pager pager = new Pager(1, 10);
    private bool Loading = false;

    protected override async Task OnInitializedAsync()
    {
        await LoadData();
    }

    private async Task LoadData()
    {
        Loading = true;
        try
        {
            var result = await Processes.Get(pager, new FilterModel());
            items = result.Items.ToList();
            pager.TotalRows = result.TotalRows;
        }
        catch (HttpRequestException ex)
        {
            // todo: find nice way to handle exceptions like that
        }
        Loading = false;
    }

    private void Add()
    {
        Navigation.NavigateTo("process-add");
    }
}