@page "/processes/add"
@using Prodex.Client.Coponents
@using Prodex.Client.RestClients;
@using Prodex.Shared.Models.Processes;
@using System.Net;
@inject NavigationManager Navigation
@inject ProcessesClient Processes

<Card>
    <CardHeader>
        Dodaj Proces
    </CardHeader>
    <CardBody>
        
        <Validations @ref="Form.Validations" Mode="ValidationMode.Manual" >
            <Validation Validator="(a) => Form.Status(a, nameof(Form.Name))">
                <Field>
                    <FieldLabel>Nazwa</FieldLabel>
                    <TextEdit @bind-Text="Form.Name">
                        <Feedback>
                            <ValidationError>@Form.Message(nameof(Form.Name))</ValidationError>
                        </Feedback>
                    </TextEdit>
                </Field>
            </Validation>
        </Validations>
        <BpmnModeler @ref="modeler"></BpmnModeler>

    </CardBody>
    <CardFooter>
        <Button Color="Color.Primary" @onclick="Save">Zapisz</Button>
    </CardFooter>
</Card>

@code {
    private FormModel Form = new FormModel();

    private BpmnModeler modeler;

    private async Task Save()
    {
        Form.Xml = await modeler.GetValueAsync();

        var result = await Processes.Post(Form);

        if (result.IsSuccessStatusCode)
        {
            Navigation.NavigateTo("processes");
        }
    }
}
