@page "/process-add"
@using Prodex.Client.Coponents
@using Prodex.Client.RestClients;
@using Prodex.Shared.Models.Processes;
@using System.Net;
@inject NavigationManager Navigation
@inject ProcessesClient Processes

@if (Form.HasErrors)
{
    @foreach(var error in Form.Errors)
    {
        <p>@error.Name: @error.Message</p>
    }
}

<Card>
    <CardHeader>
        Dodaj Proces
    </CardHeader>
    <CardBody>
        <Field>
            <FieldLabel>Nazwa</FieldLabel>
            <TextEdit @bind-Text="Form.Name" />
        </Field>

        <BpmnModeler @ref="modeler"></BpmnModeler>

    </CardBody>
    <CardFooter>
        <Button Color="Color.Primary" @onclick="Save">Zapisz</Button>
    </CardFooter>
</Card>

@code {
    private FormModel Form = new FormModel();

    private BpmnModeler modeler;

    private async Task Save()
    {
        Form.Xml = await modeler.GetValueAsync();

        var result = await Processes.Post(Form);

        if (result.IsSuccessStatusCode)
        {
            Navigation.NavigateTo("processes");
        }
    }
}
