@page "/products/add"
@using Prodex.Client.Coponents
@using Prodex.Client.Coponents.Form
@using Prodex.Client.RestClients;
@using Prodex.Shared.Models.Products;
@using System.Net;
@inject NavigationManager Navigation
@inject ProductsClient Products

<Card>
    <CardHeader>
        Dodaj Produkt
    </CardHeader>
    <CardBody>
        <FormWrapper Form="Form">
            <FormInput Property="p => p.Name" />
        </FormWrapper>
    </CardBody>
    <CardFooter>
        <Button Color="Color.Primary" @onclick="Save">Zapisz</Button>
    </CardFooter>
</Card>

@code {
    private FormModel Form = new FormModel();

    private async Task Save()
    {
        var result = await Products.Post(Form);

        if (result.IsSuccessStatusCode)
        {
            Navigation.NavigateTo("products");
        }
    }
}
