@using Prodex.Client.Pages.ProductTemplates.Models;
@inject IJSRuntime _js

<Div Style="flex: 1" id="bpmn-canvas"></Div>

@code {

    [Parameter]
    public EventCallback<BpmnElement> SelectedElementChanged { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await _js.InvokeVoidAsync("loadBpmn", DotNetObjectReference.Create(this));
    }

    public async Task<string> GetValueAsync()
    {
        return await _js.InvokeAsync<string>("getCurrentDiagram");
    }

    public async Task SetValueAsync(string xml)
    {
        await _js.InvokeVoidAsync("setCurrentDiagram", xml);
    }

    public async Task SetColor(string elementId, string color)
    {
        await _js.InvokeVoidAsync("setColor", elementId, color);
    }

    [JSInvokable]
    public Task OnElementClick(BpmnElement e, SourceRef sourceRef)
    {
        e.SourceRef = sourceRef;

        SelectedElementChanged.InvokeAsync(e);
        
        return Task.CompletedTask;
    }
}

<style>

    #bpmn-canvas{
        height: 500px;
        border: 1px solid black;
    }

</style>
