@inject IJSRuntime _js

<Div id="bpmn-canvas"></Div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await _js.InvokeVoidAsync("loadBpmn");
    }

    public async Task<string> GetValueAsync()
    {
        return await _js.InvokeAsync<string>("getCurrentDiagram");
    }

    public async Task SetValueAsync(string xml)
    {
        await _js.InvokeVoidAsync("setCurrentDiagram", xml);
    }
}

<style>

    #bpmn-canvas{
        height: 500px;
        border: 1px solid black;
    }

</style>
