@using Prodex.Client.Pages.ProductTemplates.Models;
@inject IJSRuntime _js

<Div id="bpmn-canvas"></Div>

@code {

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await _js.InvokeVoidAsync("loadBpmnViewer");
    }

    public async Task SetValueAsync(string xml)
    {
        await _js.InvokeVoidAsync("setCurrentDiagramViewer", xml);
    }

    public async Task SetColor(string elementId, string color)
    {
        await _js.InvokeVoidAsync("setColorViewer", elementId, color);
    }

    public async Task ClearColors(string color)
    {
        await _js.InvokeVoidAsync("clearColorsViewer", color);
    }

    public async Task SetEndEventColor(string color)
    {
        await _js.InvokeVoidAsync("setEndEventColorViewer", color);
    }
}

<style>

    #bpmn-canvas{
        height: 500px;
        border: 1px solid black;
    }

</style>
